body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  width: 960px;
  margin: 0 auto;
}

.search {
  width: 100%;
  margin: 30px 0;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ant-card {
  margin-bottom: 20px;
  width: calc(33.33333% - 20px);
}
